# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Compiled dynamic libraries
*.dll
*.so
*.dylib

# Debug / symbols
*.pdb
*.dSYM/

# Misc
*.log
*.tmp

# Agent intelligence / Q-tables
/agents/

#Ignore build
/build/
/bin/